body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header,
section {
    width: 800px;
    margin: 0 auto;
}

textarea {
    width: 100%;
    max-width: 100%;
    height: 300px;
    font-size: 16px;
    font-family: "Consolas", "Courier New";
}

li {
    font-family: "Consolas", "Courier New";
}

textarea._small {
    height: 50px;
}

h1,
h2 {
    font-family: "Helvetica Neue", "Helvetica", "Arial";
    font-weight: 200;
}

button {
    border: solid transparent 30px;
    border-bottom-width: 0;
    border-top: solid 30px #bbb;
    width: 0;
    padding: 0;
    margin: 20px 0 0 -30px;
    height: 0;
    background: transparent;
    position: relative;
    display: inline-block;
    left: 50%;
}

button:active {
    top: 2px;
}